@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 250, 250, 250;
    --background-end-rgb: 250, 250, 250;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'KatyouBB';
  src: url('./fonts/KatyouBB.ttf') format('truetype');
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}

.explanation {
  max-width: 350px;
  word-wrap: break-word;
  font-size: 15px;
}

.poster-example {
  max-width: 300px;
}

.form {
  max-width: 350px;
}

.form-title {
  font-size: 18px;
}

.form-heading {
  font-size: 15px;
}

.form-note {
  font-size: 11px;
  padding-left: 5px;
}

.age-container, .age {
  max-width: 75px;
}

.screenshot-div {
  display: grid;
}

.template-base, .download-div, .picture, .poster-oshikatsu, .poster-mirai, .poster-name-age {
  grid-column: 1;
  grid-row: 1;
}

.picture, .poster-oshikatsu, .poster-mirai, .poster-name-age, .download-div {
  position: relative;
}

.picture {
  object-fit: cover;
  height: 30.6%;
  width: 65.65%;
  bottom: 23.3%;
  left: 13.8%;
}

.poster-oshikatsu {
  font-family: 'KatyouBB', sans-serif;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  max-width: 40.3%;
  top: 6.2%;
  left: 27.1%;
}

.poster-mirai {
  font-weight: bold;
  word-wrap: break-word;
  max-width: 43%;
  top: 24.5%;
  left: 12.5%;
}

.poster-name-age {
  font-weight: bold;
  white-space: nowrap;
  max-width: 43%;
  top: 27.8%;
  left: 12.5%;
}

@media (max-width: 1024px) {
  .poster-oshikatsu {
    font-size: 5.1vw;
  }

  .poster-mirai {
    font-size: 2.12vw;
  }

  .poster-name-age {
    font-size: 1.7vw;
  }
}

@media (min-width: 1025px) {
  .banner {
    max-width: 1024px;
  }

  .poster-oshikatsu {
    font-size: 350%;
  }

  .poster-mirai {
    font-size: 130%;
  }
}

