@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 250, 250, 250;
    --background-end-rgb: 250, 250, 250;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'KatyouBB';
  src: url('./fonts/KatyouBB.ttf') format('truetype');
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}

.under-banner {
  width: 100%;
  max-width: 1024px;
}

.language-buttons {
  max-width: 1024px;
}

.heading {
  max-width: 500px;
}

.explanation, .explanation-note {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.explanation {
  font-size: 15px;
}

.explanation-note {
  font-size: 13px;
}

.poster-example {
  height: auto;
  max-width: 300px;
}

.image-note {
  font-size: 14px;
}

.form {
  max-width: 350px;
}

.form-title {
  font-size: 18px;
}

.form-heading {
  font-size: 15px;
}

.form-note {
  font-size: 11px;
  padding-left: 5px;
}

.form-field {
  max-width: 350px;
}

.age-container, .age {
  max-width: 75px;
}

.screenshot-div {
  display: grid;
}

.template-base, .download-div, .picture, .corner-tag, .poster-oshikatsu, .poster-mirai, .poster-name-age {
  grid-column: 1;
  grid-row: 1;
}

.picture, .corner-tag, .poster-oshikatsu, .poster-mirai, .poster-name-age, .download-div {
  position: relative;
}

.picture {
  object-fit: cover;
  height: 30.1%;
  width: 70.3%;
  bottom: 23.3%;
  left: 13.5%;
  border-radius: 0px 8px 8px 8px;
}

.corner-tag {
  max-width: 12.7%;
  bottom: 31.55%;
  left: 80.6%;
}

.poster-oshikatsu {
  font-family: 'KatyouBB', sans-serif;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  max-width: 40.3%;
  top: 6.2%;
  left: 27.1%;
}

.poster-mirai {
  font-weight: bold;
  word-wrap: break-word;
  max-width: 43%;
  top: 24.5%;
  left: 12.5%;
}

.poster-name-age {
  font-weight: bold;
  white-space: nowrap;
  max-width: 43%;
  top: 27.8%;
  left: 12.5%;
}

.scroll-top-button {
  position: fixed;
  bottom: 0;
  margin-right: 10%;
}

@media (max-width: 749px) {
  .scroll-top-button {
    margin-right: 5%;
  }
}

@media (max-width: 649px) {
  .scroll-top-button {
    margin-right: 2%;
  }
}

@media (max-width: 449px) {
  .scroll-top-button {
    margin-right: 0px;
  }
}

@media (max-width: 1024px) {
  .poster-oshikatsu {
    font-size: 5.1vw;
  }

  .poster-mirai {
    font-size: 2.12vw;
  }

  .poster-name-age {
    font-size: 1.7vw;
  }
}

@media (min-width: 1025px) {
  .banner {
    height: auto;
    width: auto;
    max-width: 1024px;
  }

  .poster-oshikatsu {
    font-size: 350%;
  }

  .poster-mirai {
    font-size: 130%;
  }
}

