@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.screenshot-div {
  display: grid;
}

.template-base, .download-div, .picture, .text1, .text2 {
  grid-column: 1;
  grid-row: 1;
}

.text1 {
  text-align: center;
}

.picture {
  object-fit: cover;
}

@media (max-width: 480px) {
  .picture {
    height: 30.6%;
    width: 65.65%;
    position: relative;
    bottom: 23.3%;
    left: 13.8%;
  }

  .text1 {
    font-size: 3vw;
    font-weight: bold;
    max-width: 40.3%;
    white-space: nowrap;
    position: relative;
    top: 6.2%;
    left: 27.1%;
  }

  .text2 {
    font-size: 2.1vw;
    font-weight: bold;
    word-wrap: break-word;
    max-width: 43%;
    position: relative;
    top: 25.3%;
    left: 12.5%;
  }
}

@media (min-width: 481px) and (max-width: 810px) {
  .picture {
    height: 30.6%;
    width: 65.65%;
    position: relative;
    bottom: 23.3%;
    left: 13.8%;
  }

  .text1 {
    font-size: 3vw;
    font-weight: bold;
    max-width: 40.3%;
    white-space: nowrap;
    position: relative;
    top: 6.2%;
    left: 27.1%;
  }

  .text2 {
    font-size: 2.1vw;
    font-weight: bold;
    word-wrap: break-word;
    max-width: 43%;
    position: relative;
    top: 25.3%;
    left: 12.5%;
  }
}

@media (min-width: 811px) and (max-width: 1080px) {
  .picture {
    height: 30.6%;
    width: 65.65%;
    position: relative;
    bottom: 23.3%;
    left: 13.8%;
  }

  .text1 {
    font-size: 3vw;
    font-weight: bold;
    max-width: 40.3%;
    white-space: nowrap;
    position: relative;
    top: 6.2%;
    left: 27.1%;
  }

  .text2 {
    font-size: 2.1vw;
    font-weight: bold;
    word-wrap: break-word;
    max-width: 43%;
    position: relative;
    top: 25.3%;
    left: 12.5%;
  }
}

@media (min-width: 1081px) and (max-width: 1440px) {
  .picture {
    height: 30.6%;
    width: 65.65%;
    position: relative;
    bottom: 23.3%;
    left: 13.8%;
  }

  .text1 {
    font-size: 200%;
    font-weight: bold;
    max-width: 40.3%;
    white-space: nowrap;
    position: relative;
    top: 6.2%;
    left: 27.1%;
  }

  .text2 {
    font-size: 130%;
    font-weight: bold;
    word-wrap: break-word;
    max-width: 43%;
    position: relative;
    top: 25.3%;
    left: 12.5%;
  }
}

@media (min-width: 1441px) {
  .picture {
    height: 30.6%;
    width: 65.65%;
    position: relative;
    bottom: 23.3%;
    left: 13.8%;
  }

  .text1 {
    font-size: 200%;
    font-weight: bold;
    max-width: 40.3%;
    white-space: nowrap;
    position: relative;
    top: 6.2%;
    left: 27.1%;
  }

  .text2 {
    font-size: 130%;
    font-weight: bold;
    word-wrap: break-word;
    max-width: 43%;
    position: relative;
    top: 25.3%;
    left: 12.5%;
  }
}

.download-div {
  position: relative;
}
